*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1{
    color:gray;
}
/*UN ID*/
#fotologo
{
width: 150px;
height: 150px;
}

#fotoanimada
{
width: 300px;
}

/*UNA CLASS*/
.bordes
{
    border: 2px solid blue;/*una propiedad y su valor*/
}

#formularioInscripcion >label{
    color: red;
}

h2  ~ p
{
    color: green;
    font-weight: bold;
    font-size: 20px;
}

#cajaLogo
{
    width: 100%;
    background-color: #A62B1F;
}

#textoLogo
{
    text-align: center;
    background-color: #A62B1F;
    color: #ca795c ;
    font-size: 50px;
}